@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

:root {
	--background: #00051d;
	--primary: #4b4e5f;
	--accent: rgb(0, 0, 255);
	--gradient: linear-gradient(45deg, #4b4e5f 10%, #13141a 100%);
	--border: #9da1b9;
	--text-color: #ebebeb;
	--edit-color: #18cc00;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Rubik, sans-serif;
	color: var(--text-color);
}

body, html {
	width: 100%;
	background: var(--background);
	-webkit-font-smoothing: antialiased; /* For WebKit-based browsers */
  -moz-osx-font-smoothing: grayscale; /* For Firefox on macOS */
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.404);

	& svg {
		filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.322));
	}
}

.overlay {
	/* display: none; */
	backdrop-filter: blur(0px);
	pointer-events: none;
	transition: backdrop-filter 500ms ease;
	width: 100%;
	height: 100%;
	position:fixed;
	/* z-index: 2; */
}

/* .overlay2 {
	z-index: 4;
} */

main {
	width: 100%;
	padding: 30px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 25px;
}




::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: var(--background);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: var(--primary);
	border-radius: 10px;
	
}

::-webkit-scrollbar-thumb:hover {
	background: color-mix(in srgb, var(--primary) 80%, white 20%);
}

::-webkit-scrollbar-thumb:active {
	background: var(--accent);
}





/* All Cards styling */
.card {
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 20px;
	width: 100%;
	height: auto;
	min-height: 200px;
	background: var(--gradient);
	opacity: 0.85;
	border: 2px solid var(--accent);
	border-radius: 5px;
	padding: 20% 12%;
	transition: opacity 0.3s, transform 0.3s, scale 500ms, color 0.3s, border-color 0.3s ease-in-out;

	&:hover {
		transform: scale(1.03);
		opacity: 1;
	}
}

.editMode {
	border: 2px solid var(--edit-color);
	
	& .cardCount {
		color: var(--edit-color);
	}

	& .cardTools {
		border: 2px solid var(--edit-color);
	
		&:hover {
			background: var(--edit-color);
		}
	
		&:hover svg {
			fill: rgb(0, 0, 0);
		}
	}

	& .input-group.main .preview-wrap img, .input-group.face.active {
		border: 1px solid var(--edit-color);
	}

	& .delete-card {
		opacity: 1;
		visibility: visible;
	}

	& .name label {
		display: block;
	}

	&.tool-wheel {
		translate: 50% 50%;
	}
}

.popup.expanded {
	scale: 1;
	opacity: 1;
}

.card.expanded {
	position: fixed;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	width: 60%;
	height: auto;
	max-height: 90%;
	z-index: 3;
	opacity: 1;
	transform: scale(0.9);
	box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.863);
	padding: 60px 50px;
	overflow-y: auto;

	& .expand {
		display: none;
	}

	& .cardTools {
		display: flex;
	}
}

.cardTools {
	position: absolute;
	top: 10px;
	right: 10px;
	align-items: center;
	flex-direction: row;
	gap: 10px;
	border: 2px solid var(--accent);
	border-radius: 10px;
	padding: 4px 5px;
	width: auto;
	height: 35px;
	transition: all 0.2s ease-in-out;

	& svg {
		transition: all 0.2s ease-in-out;

		&:hover {
			scale: 1.1;
		}

		&:active {
			scale: 1.3;
		}
	}

	&:hover {
		background: var(--accent);
		scale: 1.1;
	}
}



.cardTools {
	display: none;

	/* For all icons */
	& > * {
		width: 20px;
		height: 20px;
		cursor: pointer;
	}
}

.cardCount {
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 20px;
	font-weight: bold;
	color: var(--accent);
}

.expand {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 10%;
	height: auto;
	cursor: pointer;
	border-radius: 5px;
	transition: all 0.2s ease-in-out;

	&:hover {
		background: var(--accent);
	}
}

.bottom-row {
	width: 100%;
}

.delete-card {
	visibility: hidden;
	opacity: 0;
	display: flex;
	position: absolute;
	left: 30px;
	width: 100px;
	height: 30px;
	border: 2px solid red;
	border-radius: 10px;
	padding: 15px;
	background: none;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: all 0.2s ease-in-out;

	&:hover {
		scale: 1.1;
		background: red;
	}

	& svg {
		fill: red;
		transition: all 0.2s ease-in-out;
	}

	&:hover svg {
		fill: white;
	}
}







/* All inputs stying */
.input-group {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex-shrink: 0;
	background: var(--primary);
	border: 1px solid var(--border);
	border-radius: 5px;
	text-align: center;

	& * {
		transition: all 0.2s ease-in-out;
	}

	& svg {
		align-self: center;
		width: 40%;
		height: 40%;
	}

	& input {
		position: absolute;
		opacity: 0;
		width: 100%;
		height: 100%;
		cursor: pointer;
	}

	& .input-info {
		font-size: 0.8em;
	}

	/* Hiding logic "active" class givin by javaScript  */
	&.active {
		background: none;
		border: none;

		& > *:not(.preview-wrap) {
			display: none;
		}
	}
}

/* The preview wrap */
.preview-wrap {
	max-width: 100%;
  max-height: 100%;
  object-fit: cover; /* Ensures the image covers the container while maintaining aspect ratio */

	/* Edit image button */
	& svg {
		visibility: hidden;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 50px;
		height: 50px;
		translate: -50% -50%;
		background:rgba(0, 0, 0, 0.753);
		border-radius: 9999px;
		padding: 10px;
		cursor: pointer;
		opacity: 0;
		transition: all 0.2s ease-in-out;
		fill:#ffffff;
		z-index: 3;
	
		&:hover {
			transform: scale(1.1);
		}
	}

	&:hover svg {
		visibility: visible;
		opacity: 1;
	}

	& img {
		display: none;
		max-width: 100%;
		max-height: 500px;
		height: auto;
		margin: auto;
		border-radius: 5px;
	}
}

.face .preview-wrap svg {
	width: 50%;
	height: auto;
	padding: 10%;
}

/* Main styling */
.input-group.main {
	width: 100%;
	height: auto;
	align-self: center;

	& img {
		width: 100%;
		height: auto;
		border: 1px solid var(--accent);
	}
}


/* Face styling */
.input-group.face {
	width: 20%;
	aspect-ratio: 1 / 1;
	border-radius: 999px;
	overflow: hidden;

	&.active {
		border: 1px solid var(--accent);
	}

	& .preview-wrap {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
		border-radius: 999px;
		overflow: hidden;
	}

	& .preview-wrap img {
		max-width: none;
		width: 100%;
		aspect-ratio: 1 / 1;
		object-fit: cover;
		position: relative;
		top: 50%;
		left: 50%;
		translate: -50% -50%;
	}
}





.name {
	& label {
		display: none;
		margin-top: 10px;
		font-size: 0.8em;
	}

	& input {
		font-size: 1.4em;
		width: 60px; /* Initial width */
	}
}

.nameTypeGroup {
	display: inline-flex;
	flex-direction: column;
}

form.name-group {
	display: flex;
	align-items: start;
	flex-direction: row;
}

.input {
	background: none;
	border: none;
	outline: none;
	color: var(--text-color);
}

.text-measurer {
  position: absolute;
  visibility: hidden;
  white-space: pre;
  font: inherit; /* Ensure font matches input */
	font-size: 1.4em;
}

.nameInput-wrap {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: start;
	flex-direction: row;
	gap: 5px;
	width: 100%;
	height: 10px;
	margin-top: 10px;
}



.license-plate {
	width: 60%;
	display: flex;
	align-items: center;
	justify-content: center;

	& img {
		width: 100%;
	}

	& .license-input {
	position: absolute;
	z-index: 1;
	width: 100%;
	font-family: 'Oswald', sans-serif;
	color: red;
	text-shadow: 
    -1px -1px 20px #ffffff, /* Top left highlight */
    1px 1px 2px rgba(0, 0, 0, 0.753); /* Bottom right shadow */
	text-align: center;
	text-transform: uppercase;
	}
}



.add {
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0.5;
	transition: opacity 0.3s, transform 0.3s;
	order: 9999;

	& svg {
		width: 30%;
		height: 30%;
		opacity: 1;
	}

	&:hover {
		transform: scale(1.05);
		opacity: 0.8;
	}

	&:active {
		transform: scale(1.1);
		opacity: 1;
	}
}


/* Popups */

.popup {
	scale: 0;
	opacity: 0;
	position: fixed;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	z-index: 4;
	width: 40%;
	min-width: 300px;
	height: 60%;
	border: 1px solid var(--border);
	border-radius: 5px;
	background: var(--background);
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.39), 0 4px 6px rgba(0, 0, 0, 0.158);
	transition: all 0.2s ease-in-out;


	& .popup-topbar {
		position: relative;
		display: flex;
		align-items: center;
		width: 100%;
		height: 14%;
		padding: 15px;
		border-bottom: 1px solid var(--border);
	}

	& .close {
		position: absolute;
		right: 15px;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 25px;
		height: 25px;
		font-size: x-large;
		cursor: pointer;
		border-radius: 5px;
		background-color: transparent;
		border: none;
		transition: all 0.2s ease-in-out;

		&:hover {
			background-color: var(--accent);
		}

		&:active {
			scale: 1.1;
		}
	}

	& hr {
		width: 100%;
		height: 1px;
		border: 0;
		background: var(--border);
	}

	& .options-wrap {
		display: flex;
		flex-direction: column;
		align-self: center;
		justify-content: start;
		gap: 15px;
		height: 86%;
		width: 100%;
		padding: 15px;
		overflow-y: auto;
	}

	& .option {
		position: relative;
		display: flex;
		flex-direction: row;
		align-items: center;
		list-style-type: none;
		background-color: var(--primary);
		border-radius: 5px;
		padding: 10px;
		transition: all 0.2s ease-in-out;
		cursor: pointer;

		&:hover {
			background-color: color-mix(in srgb, var(--primary) 80%, white 20%);
			scale: 1.01;
		}

		& svg:first-of-type {
			width: 35px;
			height: 35px;
			margin-right: 10px;
			background: var(--primary);
			border-radius: 5px;
			padding: 5px;
			filter:drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.911)) drop-shadow(-2px -2px 5px rgba(255, 255, 255, 0.377));
			/* fill: var(--background); */
			/* border: 1px solid var(--border); */
		}

		& p {
			font-size: 0.7em;
			width: 90%;
			margin-top: 2px;
		}

		& svg:last-of-type {
			position: absolute;
			right: 10px;
			border-radius: 5px;
			border-color: transparent;
			transition: all 0.2s ease-in-out;

			&:hover {
				background-color: color-mix(in srgb, var(--edit-color) 80%, transparent 20%);
				transform: scale(1.2);
			}
		}
	}
}

.tool-wheel {
	position: fixed;
	z-index: 10;
	bottom: 0;
	right: 0;
	translate: 100% 100%;
	background: rgba(255, 255, 255, 0.123);
	backdrop-filter: blur(10px);
	border-radius: 50%;
	border: 2px solid var(--border);
	width: 500px;
	height: 500px;
	transition: all 0.2s ease-in-out;

	&:hover {
		scale: 1.05;
		background: rgba(255, 255, 255, 0.185);
	}

	& .addElement {
		position: absolute;
		top: 25%;
		left: 25%;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 20%;
		height: 20%;
		border: 2px solid var(--background);
		border-radius: 50%;
		background: var(--edit-color);
		padding: 5px;
		z-index: 10;
		transition: all 0.15s ease-in-out;

		&:hover {
			scale: 1.1;
			background-color: color-mix(in srgb, var(--edit-color) 70%, #ffffff 30%);
		}

		&:active {
			scale: 1.1;
			background-color: color-mix(in srgb, var(--edit-color) 90%, #000000 10%);
			scale: 1.2;
		}
	
		& svg {
			width: 100%;
			height: 100%;
		}
	}
}

@media screen and (max-width: 700px) {
	main {
		grid-template-columns: 1fr;
		gap: 20px;
	}

	.card {
		height: auto;
	}

	.card.expanded {
		width: 95%;
		height: auto;
		max-height: 80%;
	}

	.tool-wheel {
		width: 400px;
		height: 400px;
	}
}