@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

:root {
	--background: #00051d;
	--primary: #4b4e5f;
	--accent: rgb(0, 0, 255);
	--gradient: linear-gradient(45deg, #4b4e5f 10%, #13141a 100%);
	--border: #9da1b9;
	--text-color: #ebebeb;
	--edit-color: #1eff00;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Rubik, sans-serif;
	color: var(--text-color);
	/* transform: scale(1.01); */
}

body, html {
	width: 100%;
	background: var(--background);
	/* overflow-x: hidden; */
	-webkit-font-smoothing: antialiased; /* For WebKit-based browsers */
  -moz-osx-font-smoothing: grayscale; /* For Firefox on macOS */
}

#overlay {
	/* display: none; */
	backdrop-filter: blur(0px);
	pointer-events: none;
	transition: backdrop-filter 500ms ease;
	width: 100%;
	height: 100%;
	position:fixed;
	z-index: 2;
}

main {
	/* isolation: isolate; */
	width: 100%;
	height: auto;
	padding: 30px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-template-rows: auto;
	/* justify-content: start; */
	gap: 25px;
}



/* All Cards styling */
.card {
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 20px;
	width: 100%;
	height: auto;
	min-height: 200px;
	background: var(--gradient);
	opacity: 0.9;
	border: 2px solid var(--accent);
	border-radius: 5px;
	padding: 20% 12%;
	transition: opacity 0.3s, transform 0.3s, scale 500ms ease;
	/* transition: scale 500ms ease; */
}

.card:hover {
	transform: scale(1.02);
	opacity: 1;
}

.editMode {
	border: 2px solid var(--edit-color);
}

.editMode .cardCount {
	color: var(--edit-color);
}

.card.expanded {
	position: fixed;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	width: 50%;
	height: auto;
	max-height: 90%;
	z-index: 10;
	opacity: 1;
	transform: scale(0.9);
	box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.829);
	padding: 60px 50px;
	overflow-y: auto;
}

/* .card.expanded {
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	z-index: 10;
	width: 300px;
	height: 300px;
	/* transform: scale(1.5); */
	/* background-color: #e63946; */

	.cardTools {
		position: absolute;
		top: 10px;
		right: 10px;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		gap: 10px;
		/* background: rgba(143, 143, 143, 0.63); */
		border: 2px solid var(--accent);
		border-radius: 10px;
		padding: 4px 5px;
		width: auto;
		height: 35px;
		transition: all 0.2s ease-in-out;
	}

	.cardTools:hover {
		background: var(--accent);
		scale: 1.1;
	}

	.editMode .cardTools {
		border: 2px solid var(--edit-color);
	}

	.editMode .cardTools svg {
		transition: all 0.2s ease-in-out;
	}

	.editMode .cardTools:hover svg {
		fill: rgb(0, 0, 0);
	}

	.editMode .cardTools:hover {
		background: var(--edit-color);
	}

	.cardTools > * {
		width: 20px;
		height: 20px;
		cursor: pointer;
	}
	
	.cardTools {
		display: none;
	}

	.expanded .cardTools {
		display: flex;
	}

	.cardCount {
		position: absolute;
		top: 10px;
		left: 10px;
		font-size: 20px;
		font-weight: bold;
		color: var(--accent);
	}

	.expand {
		position: absolute;
		top: 5px;
		right: 5px;
		width: 10%;
		height: auto;
		cursor: pointer;
		border-radius: 5px;
		transition: all 0.2s ease-in-out;
	}

	.expand:hover {
		background: var(--accent);
	}

	.expanded .expand {
	  display: none;
	}

	.bottom-row {
		width: 100%;
		/* height: 40px; */
	}

	.delete-card {
		display: none;
		position: absolute;
		right: 20px;
		/* margin-bottom: 10px; */

		/* margin-top: 30px; */
		width: 100px;
		height: 30px;
		border: 2px solid red;
		border-radius: 10px;
		padding: 15px;
		background: none;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		transition: all 0.2s ease-in-out;
	}

	.delete-card:hover {
		scale: 1.1;
		background: red;
	}

	.delete-card svg {
		fill: red;
		transition: all 0.2s ease-in-out;
	}

	.delete-card:hover svg {
		fill: white;
	}

	.editMode .delete-card {
		display: flex;
	}







/* All inputs stying */
.input-group {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex-shrink: 0;
	background: var(--primary);
	border: 1px solid var(--border);
	border-radius: 5px;
	text-align: center;
}

.input-group svg {
	align-self: center;
	width: 50%;
	height: 50%;
}

.input-group input {
	position: absolute;
	opacity: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.input-group .input-info {
	font-size: 0.8em;
}
 
/* Hiding logic active class givin by javaScript  */
.input-group.active {
	background: none;
	border: none;
}

.input-group.active *:not(.preview-wrap, .preview-wrap svg, .preview-wrap svg path) {
	display: none;
}


/* The preview wrap */
.preview-wrap {
	/* position: absolute; */
	max-width: 100%;
  max-height: 100%;
  object-fit: cover; /* Ensures the image covers the container while maintaining aspect ratio */
}

/* Edit Button for images */
.preview-wrap svg {
	visibility: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50px;
	height: 50px;
	translate: -50% -50%;
	background:rgba(0, 0, 0, 0.753);
	border-radius: 9999px;
	padding: 10px;
	cursor: pointer;
	opacity: 0;
	transition: all 0.2s ease-in-out;
	fill:#ffffff;
	z-index: 3;
}

.face .preview-wrap svg {
	width: 50%;
	height: 50%;
	padding: 10%;
}

.preview-wrap:hover svg {
	visibility: visible;
	opacity: 1;
}

.preview-wrap svg:hover {
	transform: scale(1.1);
}



/* Actual preview image */
.preview-wrap img {
	display: none;
	max-width: 100%;
	height: auto;
	max-height: 500px;
	border-radius: 5px;
	/* object-fit: contain; */
	margin: auto;
}

/* Main styling */
.input-group.main {
	width: 100%;
	height: auto;
	align-self: center;
}

/* Main styling */
.input-group.main img {
	width: 100%;
	height: auto;
	border: 1px solid var(--accent);
}

/* Face styling */
.input-group.face {
	width: 20%;
	aspect-ratio: 1 / 1;
	border-radius: 999px;
	overflow: hidden;
}

.input-group.face.active {
  border: 1px solid var(--accent);
}

.input-group.face .preview-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	border-radius: 999px;
	overflow: hidden;
}

.input-group.face .preview-wrap img {
	max-width: none;
	width: 100%;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	position: relative;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
}







.name label {
	display: none;
}

.editMode .name label {
	font-size: 0.8em;
	display: block
}

.nameTypeGroup {
	display: flex;
	flex-direction: column;
	padding: 5px;
}

form.name-group {
	display: flex;
	align-items: start;
	flex-direction: row;
}

.input {
	background: none;
	border: none;
	outline: none;
	color: var(--text-color);
}

.name input {
	/* min-width: 75px; */
  width: auto;
	font-size: 1.4em;
}

.nameInput-wrap {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: start;
	flex-direction: row;
	width: 100%;
	height: 10px;
	margin-top: 10px;
}

/* .nameType {
	position: absolute;
} */







.license-plate {
	width: 60%;
	/* height: fit-content; */
	display: flex;
	align-items: center;
	justify-content: center;
}

.license-plate img {
	width: 100%;
}

.license-plate .license-input {
	position: absolute;
	z-index: 1;
	width: 100%;
	font-family: 'Oswald', sans-serif;
	/* font-size: 1em; */
	color: red;
	text-shadow: 
    -1px -1px 20px #ffffff, /* Top left highlight */
    1px 1px 2px rgba(0, 0, 0, 0.753); /* Bottom right shadow */
	text-align: center;
	text-transform: uppercase;
}




.add {
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0.5;
	transition: opacity 0.3s, transform 0.3s;
	order: 9999;
}

.add svg {
	width: 30%;
	height: 30%;
	opacity: 1;
}

.add:hover {
	transform: scale(1.05);
	opacity: 0.8;
}

.add:active {
	transform: scale(1.1);
	opacity: 1;
}


@media screen and (max-width: 700px) {
	main {
		grid-template-columns: 1fr;
		gap: 20px;
	}
	.card {
		height: auto;
	}

	.card.expanded {
		width: 95%;
		height: auto;
		max-height: 80%;
	}

	.license-plate .license {
		/* font-size: 9vw; */
	}
}